@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  max-width: 80%;
  font-size: calc(10px + 0.6vw);
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar .links .link {
  margin-right: 2em;
  color: #f1356d;
}
.navbar a {
  text-decoration: none;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 80%;
  margin: 3em auto;
}

/*Button styles*/
.baseButton {
  display:inline-block;
  padding:0.46em 1.6em;
  border:0.1em solid #000000;
  margin:0 0.2em 0.2em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:700;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color:#f1356d;
  text-align:center;
  transition: all 0.15s;
}

.voting-page {
  font-size: calc(10px + 0.6vw);
}